#container{
    width: 800px;
    margin:0 auto;
}

h1{
    font-size: 40px;
    font-weight: 100px;
    color:#861BBF;
    text-decoration: none;
}

#header{
    height:100px;
    padding:10px 5px;
}

#searchBox{
    float:right;
    background:linear-gradient(#e4f2b9, #b7e953);
    border-radius: 2%;
    width:400px;
    height:50px;
    padding: 10px 10px 0 10px;
    margin-top: 20px;
}

#brand{
    float:left;
}

#searchIcon{
    margin:10px;
    width: 20px;
    height:20px;
}

#menu{
    margin: auto;
    width:100%;
    background:linear-gradient(#e4f2b9, #b7e953);
    border-radius: 2%;
    height: 50px;
}

#menu ul li{
    float: left;
    padding: 20px 30px;
}

#menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    transition: font-size .2s ease;
}

#left-sidebar ul li{
    padding-bottom: 5px;
    list-style-image: url(Image/arrow.png);
}

#right-sidebar ul li{
    padding-bottom: 5px;
    list-style-image: url(Image/arrow.png);
}

#intro{
    height: 500;
    margin: 20px 0;
    padding: 15px;
    background:linear-gradient(#e4f2b9, #b7e953);
    border-radius: 2%;
}

#left-sidebar{
    float:left;
}

#right-sidebar{
    float:right;
}

#content{
    height: 550px;
}

#footer{
    padding: 2px 10px 2px 20px;
    height: 40px;
    width: 100%; 
    background:linear-gradient(#e4f2b9, #b7e953);
    border-radius: 2%;
}

.text{
    float:left;
    height:20px;
    width: 200px;
    padding:5px;
    font-size: 15px;
    margin:5px auto;
    color: orange;
    background: white url(Image/Search.png) right center no-repeat;
}

.submit{
    float:right;
    height:20px;
    width:100px;
    margin: 10px;
    background-color: #861BBF;
    color:white;
    font:bold;
}

ul{
    list-style: none;
}

.clear{
    clear:both;
}

.menuItem{
    color: #861BBF;
    font-size: 1em;
    font-display: none;

}

.menuItem:hover{
    font-size: 1.2em;
}

.sidebar{
    height:500px;
    width:375px;
    border:1px solid #b7e953;
    border-radius: 5%;
    padding: 10px;
}

